body{
    font-family: Arial;
    background-color: grey;
}

header{
    background-color: deepskyblue;
    height: 50px;
}
nav{
    background-color: greenyellow;
    width: 120px;
    height: 200px;
    float:left;
}
main{
    background-color: yellow;
}
footer{
    background-color: hotpink;
    clear: both;
}
main h2{
    color: chocolate;
}
main h3{
    color: red;
}
    