body{
    font-family: Arial;
    background-color: white;
    
}

body h1{
    font-family: Arial;
    background-color: blue;
    text-align: center;
}

body h3{
    font-family: Arial;
    background-color: aqua;
    text-align: center;
    
    }

header{
    background-color: deepskyblue;
    height: 50px;
}
nav{
    background-color: beige;
    width: 200px;
    height: 160px;
    float:left;
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

main{
    background-color: darkturquoise;
}
footer{
    background-color: wheat;
    clear: both;
}
main h2{
    color: blue;
}
main h3{
    color: green;
}