body{
    font-family: Arial;
    background-color: grey;
}

header{
    background-color: deepskyblue;
    height: 50px;
}
nav{
    background-color: greenyellow;
    width: 200px;
    height: 160px;
    float:left;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

main{
    background-color: yellow;
}
footer{
    background-color: hotpink;
    clear: both;
}
main h2{
    color: chocolate;
}
main h3{
    color: red;
}
    