nav ul li{
 list-style: none;
 float: left;
 background: black;
 height: 44px;
 padding: 10px 5px;
 margin: 5px;
}

ul li{
    color:white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 175px;
    height: 40px;
    text-align: center;
    border-bottom: 4px solid red;
    line-height: 53px;
    transition: all linear; 
}

h1:nth-child(1) a {
    border-color: aqua;
}

h2:nth-child(2) a {
    border-color: green;
}

h3:nth-child(3) a {
    border-color: yellow;
}


h1:nth-child(1) a:hover{
    border-bottom: 35px
        solid aqua;
    height: 9px;
}

h2:nth-child(2) a:hover{
    border-bottom: 35px
        solid green;
    height: 9px;
}

h3:nth-child(3) a:hover{
    border-bottom: 35px
        solid yellow;
    height: 9px;
}
